
.card{
    width: 'auto';
    height: 'auto';
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 10px;
}
.card-header{

    width: 'auto';
}
.btn{
    width: 100%;
    border-radius: 30px;
}